:javascript
  $(document).ready(function() {
    
    $("body").css('background', '#{@state[:bodybg]}');
    
  });
  
  
%h1 This is the other page.

%p It's nice, isn't it?

%p What color would you like to make the page?

.container
  - @state[:widgetcount].times do
    .colorchangerbox
      .controls
        .clone +
        .delete &times;
      .buttons
        - ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'].each do |color|
          %a.colorchanger{:href => '#', 'data-color' => color}= color
        %a.colorchanger.reset{:href => '#', 'data-color' => 'white', :class => @state_visible} reset